.hero_section {
    width: 100%;
    height: auto;

}
#before_search, #after_search{
    width: 100% !important;
}
.home_select_country_flex{
    width: 100%;
    height: auto;
    display: flex;
}
.home_select_country_flex .left{
    width: 35%;
}
.home_select_country_flex .right{
    width: 65%;
    padding-top: 1rem;
}
.home_select_country_flex .right .inner_inner_flex{
    width: 50%;
    display: flex;
}
.home_select_country_flex .right .inner_inner_flex .inner_left{
    width: 60%;
}
.home_select_country_flex .right .inner_inner_flex .inner_left select{
    width: 100%;
    height: auto;
    padding: .5rem;
    border: 1px solid #cdcdcd;
    outline: none;
}
.home_select_country_flex .right .inner_inner_flex .inner_right{
    width: 40%;
}
.home_select_country_flex .right .inner_inner_flex .inner_right button{
    width: 100%;
    height: auto;
    padding: .55rem;
    outline: none;
    border: none;
    color: white;
    background-color: #ff6a00;
}
.hero_section .carousel-item img{
    width: 100%;
    height: 500px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.home_product{
    width: 100%;
    height: auto;
    padding: 4rem 0rem;
    background-color: rgb(242, 247, 252);
}
.home_product h2{
    text-align: left;
    font-size: 30px;
    font-weight: 600 !important;
    line-height: 48px;
    position: relative;
    margin-bottom: 70px;
}
.home_product h2::after{
    position: absolute;
    content: "";
    height: 2px;
    background-color: #ff6a00;
    bottom: -10px;
    width: 70px;
    left: 40px;
    transform: translateX(-50%);
}
.home_product .main_card{
    width: 100%;
    height: auto;
    box-shadow: 0 1px 2px 0 rgb(20 36 51 / 20%), 0 1px 4px 0 rgb(20 36 51 / 8%);
   
}
.home_product .main_card .main_image{
    width: 100%;
    height: 100px;
}
.home_product .main_card .inner_card{
    width: 100%;
    height: auto;
    background-color: #ffffff;
    padding:  1rem;
}
.home_product .main_card .inner_card .flex_1{
    width: 100%;
    height: auto;
    display: flex;
}
.home_product .main_card .inner_card .flex_1 .left{
    width: 85%;
}
.home_product .main_card .inner_card .flex_1 .left p{
    margin: 0px;
    font-size: 17px;
    font-weight: 500;
    color: rgb(71, 70, 70);
}
.home_product .main_card .inner_card .flex_1 .right{
    width: 15%;
}
.home_product .main_card .inner_card .flex_1 .right img{
    width: 100%;
}
.home_product .load_more{
    width: 100%;
    height: auto;
    text-align: center;
}
.home_product .load_more button{
    width: 7rem;
    height: auto;
    padding: .8rem;
    border: none;
    outline: none;
    background-color: #ff6a00;
    color: white;
    font-size: 15px;
    font-weight: 500;
    transition: .5s;
}
.home_product .load_more button:hover{
    background-color: #00a9ea;
    border-radius: 25px;
}
.home_product_flex{
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
}
.home_product_flex .home_product_card{
    width: 20%;
    padding: 1rem;
}














.column {
    margin-top:4rem !important;
  }
  
  
  .animation-2 {
    transform: rotate(10deg);
  }
  .animation-2 .shape {
    border-radius: 5px;
  }
  .animation-2{
    -webkit-animation: rotation 1s infinite;
            animation: rotation 1s infinite;
  }
   .shape {
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 1px;
  }
   .shape.shape1 {
    left: 0;
    background-color: #5C6BC0;
  }
   .shape.shape2 {
    right: 0;
    background-color: #8BC34A;
  }
   .shape.shape3 {
    bottom: 0;
    background-color: #FFB74D;
  }
   .shape.shape4 {
    bottom: 0;
    right: 0;
    background-color: #F44336;
  }
  
  @-webkit-keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  @keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  .animation-2 .shape1 {
    -webkit-animation: animation2shape1 0.5s ease 0s infinite alternate;
            animation: animation2shape1 0.5s ease 0s infinite alternate;
  }
  
  @-webkit-keyframes animation2shape1 {
    from {
      transform: translate(0, 0);
    }
    to {
      transform: translate(20px, 20px);
    }
  }
  
  @keyframes animation2shape1 {
    from {
      transform: translate(0, 0);
    }
    to {
      transform: translate(20px, 20px);
    }
  }
  .animation-2 .shape2 {
    -webkit-animation: animation2shape2 0.5s ease 0s infinite alternate;
            animation: animation2shape2 0.5s ease 0s infinite alternate;
  }
  
  @-webkit-keyframes animation2shape2 {
    from {
      transform: translate(0, 0);
    }
    to {
      transform: translate(-20px, 20px);
    }
  }
  
  @keyframes animation2shape2 {
    from {
      transform: translate(0, 0);
    }
    to {
      transform: translate(-20px, 20px);
    }
  }
  .animation-2 .shape3 {
    -webkit-animation: animation2shape3 0.5s ease 0s infinite alternate;
            animation: animation2shape3 0.5s ease 0s infinite alternate;
  }
  
  @-webkit-keyframes animation2shape3 {
    from {
      transform: translate(0, 0);
    }
    to {
      transform: translate(20px, -20px);
    }
  }
  
  @keyframes animation2shape3 {
    from {
      transform: translate(0, 0);
    }
    to {
      transform: translate(20px, -20px);
    }
  }
  .animation-2 .shape4 {
    -webkit-animation: animation2shape4 0.5s ease 0s infinite alternate;
            animation: animation2shape4 0.5s ease 0s infinite alternate;
  }
  
  @-webkit-keyframes animation2shape4 {
    from {
      transform: translate(0, 0);
    }
    to {
      transform: translate(-20px, -20px);
    }
  }
  
  @keyframes animation2shape4 {
    from {
      transform: translate(0, 0);
    }
    to {
      transform: translate(-20px, -20px);
    }
  }


  .infoterm_select{
      width: 100%;
      height: auto;
      padding: .5rem;
      border: 1px solid #cdcdcd;
      outline: none;
      margin-top: 1rem;
  }


  @media only screen and (max-width: 600px) {
    .home_select_country_flex .left{
      width: 100%;
    }
    .home_select_country_flex .right{
      width: 100%;
    }
    .home_select_country_flex{
      flex-wrap: wrap;
    }
    .home_select_country_flex .right .inner_inner_flex{
      width: 100%;
      margin-bottom: 3rem;
    }
    .home_product h2{
      margin-bottom: 20px;
    }
    .home_product_flex .home_product_card{
      width: 100%;
    }
  }