.hero_section {
    width: 100%;
    height: auto;

}
#before_search, #after_search{
    width: 100% !important;
}
.home_select_country_flex{
    width: 100%;
    height: auto;
    display: flex;
}
.home_select_country_flex .left{
    width: 35%;
}
.home_select_country_flex .right{
    width: 65%;
    padding-top: 1rem;
}
.home_select_country_flex .right .inner_inner_flex{
    width: 50%;
    display: flex;
}
.home_select_country_flex .right .inner_inner_flex .inner_left{
    width: 60%;
}
.home_select_country_flex .right .inner_inner_flex .inner_left select{
    width: 100%;
    height: auto;
    padding: .5rem;
    border: 1px solid #cdcdcd;
    outline: none;
}
.home_select_country_flex .right .inner_inner_flex .inner_right{
    width: 40%;
}
.home_select_country_flex .right .inner_inner_flex .inner_right button{
    width: 100%;
    height: auto;
    padding: .55rem;
    outline: none;
    border: none;
    color: white;
    background-color: #ff6a00;
}
.hero_section .carousel-item img{
    width: 100%;
    height: 450px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.home_product{
    width: 100%;
    height: auto;
    padding: 4rem 0rem;
    background-color: rgb(242, 247, 252);
}
.home_product h2{
    text-align: left;
    font-size: 30px;
    font-weight: 600 !important;
    line-height: 48px;
    position: relative;
    margin-bottom: 70px;
}
.home_product h2::after{
    position: absolute;
    content: "";
    height: 2px;
    background-color: #ff6a00;
    bottom: -10px;
    width: 70px;
    left: 40px;
    transform: translateX(-50%);
}
.home_product .main_card{
    width: 100%;
    height: auto;
    box-shadow: 0 1px 2px 0 rgb(20 36 51 / 20%), 0 1px 4px 0 rgb(20 36 51 / 8%);
   
}
.home_product .main_card .main_image{
    width: 100%;
    height: 100px;
}
.home_product .main_card .inner_card{
    width: 100%;
    height: auto;
    background-color: #ffffff;
    padding:  1rem;
}
.home_product .main_card .inner_card .flex_1{
    width: 100%;
    height: auto;
    display: flex;
}
.home_product .main_card .inner_card .flex_1 .left{
    width: 85%;
}
.home_product .main_card .inner_card .flex_1 .left p{
    margin: 0px;
    font-size: 17px;
    font-weight: 500;
    color: rgb(71, 70, 70);
}
.home_product .main_card .inner_card .flex_1 .right{
    width: 15%;
}
.home_product .main_card .inner_card .flex_1 .right img{
    width: 100%;
}
.home_product .load_more{
    width: 100%;
    height: auto;
    text-align: center;
}
.home_product .load_more button{
    width: 7rem;
    height: auto;
    padding: .8rem;
    border: none;
    outline: none;
    background-color: #ff6a00;
    color: white;
    font-size: 15px;
    font-weight: 500;
    transition: .5s;
}
.home_product .load_more button:hover{
    background-color: #00a9ea;
    border-radius: 25px;
}
.home_product_flex{
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
}
.home_product_flex .home_product_card{
    width: 20%;
    padding: 1rem;
}














.column {
    margin-top:4rem !important;
  }
  
  
  .animation-2 {
    transform: rotate(10deg);
  }
  .animation-2 .shape {
    border-radius: 5px;
  }
  .animation-2{
    -webkit-animation: rotation 1s infinite;
            animation: rotation 1s infinite;
  }
   .shape {
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 1px;
  }
   .shape.shape1 {
    left: 0;
    background-color: #5C6BC0;
  }
   .shape.shape2 {
    right: 0;
    background-color: #8BC34A;
  }
   .shape.shape3 {
    bottom: 0;
    background-color: #FFB74D;
  }
   .shape.shape4 {
    bottom: 0;
    right: 0;
    background-color: #F44336;
  }
  
  @-webkit-keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  @keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  .animation-2 .shape1 {
    -webkit-animation: animation2shape1 0.5s ease 0s infinite alternate;
            animation: animation2shape1 0.5s ease 0s infinite alternate;
  }
  
  @-webkit-keyframes animation2shape1 {
    from {
      transform: translate(0, 0);
    }
    to {
      transform: translate(20px, 20px);
    }
  }
  
  @keyframes animation2shape1 {
    from {
      transform: translate(0, 0);
    }
    to {
      transform: translate(20px, 20px);
    }
  }
  .animation-2 .shape2 {
    -webkit-animation: animation2shape2 0.5s ease 0s infinite alternate;
            animation: animation2shape2 0.5s ease 0s infinite alternate;
  }
  
  @-webkit-keyframes animation2shape2 {
    from {
      transform: translate(0, 0);
    }
    to {
      transform: translate(-20px, 20px);
    }
  }
  
  @keyframes animation2shape2 {
    from {
      transform: translate(0, 0);
    }
    to {
      transform: translate(-20px, 20px);
    }
  }
  .animation-2 .shape3 {
    -webkit-animation: animation2shape3 0.5s ease 0s infinite alternate;
            animation: animation2shape3 0.5s ease 0s infinite alternate;
  }
  
  @-webkit-keyframes animation2shape3 {
    from {
      transform: translate(0, 0);
    }
    to {
      transform: translate(20px, -20px);
    }
  }
  
  @keyframes animation2shape3 {
    from {
      transform: translate(0, 0);
    }
    to {
      transform: translate(20px, -20px);
    }
  }
  .animation-2 .shape4 {
    -webkit-animation: animation2shape4 0.5s ease 0s infinite alternate;
            animation: animation2shape4 0.5s ease 0s infinite alternate;
  }
  
  @-webkit-keyframes animation2shape4 {
    from {
      transform: translate(0, 0);
    }
    to {
      transform: translate(-20px, -20px);
    }
  }
  
  @keyframes animation2shape4 {
    from {
      transform: translate(0, 0);
    }
    to {
      transform: translate(-20px, -20px);
    }
  }


  .infoterm_select{
      width: 100%;
      height: auto;
      padding: .5rem;
      border: 1px solid #cdcdcd;
      outline: none;
      margin-top: 1rem;
  }


  .hero_content_center{
    width: 100%;
    height: auto;
    background-color: transparent;
    position: absolute;
    top: 40%;
  }
 .hero_content_center .content_card_left{
   width: 60%;
   height: auto;
   padding: 1rem;
   background-color: #f5f3f388;
   border-radius: 6px;
 }

 .hero_content_center .export_import_card_right{
   width: 78%;
   float: right;
 }
 .hero_content_center .export_import_card_right h3{
  color:#00a9ea;
  font-size: 28px;
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif !important;
}
.hero_content_center .export_import_card_right p{
  font-size: 20px;
  font-weight: 500;
  text-align: center;
  color: white;
}
.hero_content_center .export_import_card_right .input_text{
  font-size: 20px;
  font-weight: 300;
  text-align: center;
  color: white;
}
.hero_content_center .export_import_card_right button{
  width: 80%;
  height: auto;
  padding: .5rem ;
  background-color: #ff6a00;
  border: none;
  color: #ffffff;
  outline: none;
  margin-top: 1.5rem;
}
.right_bottom_button{
  border: none;
  outline: none;
  background-color: rgba(0, 0, 0, 0.169);
  color: white;
  padding: .5rem 1.5rem;
  border-radius: 4px;
  transition: .5s;
  font-weight: 500;
}
.right_bottom_button:hover{
  background-color: rgba(0, 0, 0, 0.449);
  color: #00a9ea;
}


.join_deal{
  width: 100%;
  height: auto;
  padding: 4rem 0rem;
  background-color: white;
}
.join_deal h2{
  text-align: left;
  font-size: 30px;
  font-weight: 600 !important;
  line-height: 48px;
  position: relative;
  margin-bottom: 70px;
}
.join_deal h2::after{
  position: absolute;
  content: "";
  height: 2px;
  background-color: #ff6a00;
  bottom: -10px;
  width: 70px;
  left: 40px;
  transform: translateX(-50%);
}
.business_trus{
  width: 100%;
  height: auto;
  padding: 4rem 0rem;
  background-color: white;
}
.business_trus h2{
  text-align: left;
  font-size: 30px;
  font-weight: 600 !important;
  line-height: 48px;
  position: relative;
  margin-bottom: 70px;
}
.business_trus h2::after{
  position: absolute;
  content: "";
  height: 2px;
  background-color: #ff6a00;
  bottom: -10px;
  width: 70px;
  left: 40px;
  transform: translateX(-50%);
}
.business_trus .business_flex{
  width: 100%;
  height: auto;
  display: flex;
}
.business_trus .business_flex .img_card{
  width: 20%;
  height: auto;
  padding: .5rem;
}
.business_trus .business_flex .img_card img{
  width: 100%;
  height: auto;
}
  @media only screen and (max-width: 600px) {
    .home_select_country_flex .left{
      width: 100%;
    }
    .home_select_country_flex .right{
      width: 100%;
    }
    .home_select_country_flex{
      flex-wrap: wrap;
    }
    .home_select_country_flex .right .inner_inner_flex{
      width: 100%;
      margin-bottom: 3rem;
    }
    .home_product h2{
      margin-bottom: 20px;
    }
    .home_product_flex .home_product_card{
      width: 100%;
    }
    .business_trus .business_flex{
      flex-wrap: wrap;
    }
    .business_trus .business_flex .img_card{
      width: 50%;
    }
    .hero_content_center .content_card_left{
      display: none;
    }
    .hero_content_center .export_import_card_right{
      width: 100%;
    }
    .hero_content_center .export_import_card_right h3{
      font-size: 18px;
      text-align: center;
    }
    .nowrap{
      flex-wrap: nowrap !important;
    }
    .hero_section .carousel-item img{
      height:250px
    }
    .hero_content_center .export_import_card_right p{
      font-size: 17px;
      margin-bottom: 0rem;
    }
    .hero_content_center .export_import_card_right .input_text{
      font-size:17px;
      margin-bottom: 0rem;
    }
    .hero_content_center .export_import_card_right button{
      width: 60%;
      margin-top: .5rem;
    }
    .right_bottom_button{
      font-weight: 400;
      padding: .3rem 1rem;
    }
    .hero_content_center{
      top:7rem;
    }
  }


  