.itrade_top_section{
    width: 100%;
    height: auto;
    padding: 4rem 0rem;
    background-color: #ffffff;
}
.itrade_top_section .flex_top{
    width: 100%;
    height: auto;
    display: flex;
}
.itrade_top_section .flex_top .main_card{
    width: 25%;
    padding: 1rem;
}
.itrade_top_section .flex_top .main_card input[type="text"],select{
    width: 100%;
    height: auto;
    padding: .8rem 1.5rem;
    border: 1px solid #cdcdcd;
    outline: none;
    font-size: 15px;
}
.itrade_top_section .flex_top .main_card button{
    width: 100%;
    height: auto;
    padding: .8rem;
    border: none;
    outline: none;
    background-color: #ff6a00;
    color: #ffffff;
}
.itrade_main_content{
    width: 100%;
    height: auto;
    padding: 4rem 0rem;
    background-color: #ffffff;
}

.itrade_main_content button,
input {
    font-family: "Montserrat", "Helvetica Neue", Arial, sans-serif;
}

.itrade_main_content a {
    color: #f96332;
}

.itrade_main_content a:hover,
a:focus {
    color: #f96332;
}





.itrade_main_content .nav-item .nav-link,
.nav-tabs .nav-link {
    -webkit-transition: all 300ms ease 0s;
    -moz-transition: all 300ms ease 0s;
    -o-transition: all 300ms ease 0s;
    -ms-transition: all 300ms ease 0s;
    transition: all 300ms ease 0s;
}

.itrade_main_content .card a {
    -webkit-transition: all 150ms ease 0s;
    -moz-transition: all 150ms ease 0s;
    -o-transition: all 150ms ease 0s;
    -ms-transition: all 150ms ease 0s;
    transition: all 150ms ease 0s;
}

.itrade_main_content [data-toggle="collapse"][data-parent="#accordion"] i {
    -webkit-transition: transform 150ms ease 0s;
    -moz-transition: transform 150ms ease 0s;
    -o-transition: transform 150ms ease 0s;
    -ms-transition: all 150ms ease 0s;
    transition: transform 150ms ease 0s;
}

.itrade_main_content [data-toggle="collapse"][data-parent="#accordion"][aria-expanded="true"] i {
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}


.itrade_main_content .now-ui-icons {
    display: inline-block;
    font: normal normal normal 14px/1 'Nucleo Outline';
    font-size: inherit;
    speak: none;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@-webkit-keyframes nc-icon-spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@-moz-keyframes nc-icon-spin {
    0% {
        -moz-transform: rotate(0deg);
    }

    100% {
        -moz-transform: rotate(360deg);
    }
}

@keyframes nc-icon-spin {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.itrade_main_content .now-ui-icons.objects_umbrella-13:before {
    content: "\ea5f";
}

.itrade_main_content .now-ui-icons.shopping_cart-simple:before {
    content: "\ea1d";
}

.itrade_main_content .now-ui-icons.shopping_shop:before {
    content: "\ea50";
}

.itrade_main_content .now-ui-icons.ui-2_settings-90:before {
    content: "\ea4b";
}

.itrade_main_content .nav-tabs {
    border: 0;
    padding: 15px 0.7rem;
}

.itrade_main_content .nav-tabs:not(.nav-tabs-neutral)>.nav-item>.nav-link.active {
    box-shadow: 0px 5px 35px 0px rgba(0, 0, 0, 0.3);
}

.itrade_main_content .card .nav-tabs {
    border-top-right-radius: 0.1875rem;
    border-top-left-radius: 0.1875rem;
}

.itrade_main_content .nav-tabs>.nav-item>.nav-link {
    color: #888888;
    margin: 0;
    margin-right: 5px;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 30px;
    font-size: 14px;
    padding: 11px 23px;
    line-height: 1.5;
}

.itrade_main_content .nav-tabs>.nav-item>.nav-link:hover {
    background-color: transparent;
}

.itrade_main_content .nav-tabs>.nav-item>.nav-link.active {
    background-color: #444;
    border-radius: 30px;
    color: #FFFFFF;
}

.itrade_main_content .nav-tabs>.nav-item>.nav-link i.now-ui-icons {
    font-size: 14px;
    position: relative;
    top: 1px;
    margin-right: 3px;
}

.itrade_main_content .nav-tabs.nav-tabs-neutral>.nav-item>.nav-link {
    color: #FFFFFF;
}

.itrade_main_content .nav-tabs.nav-tabs-neutral>.nav-item>.nav-link.active {
    background-color: rgba(255, 255, 255, 0.2);
    color: #FFFFFF;
}

.itrade_main_content .card {
    border: 0;
    border-radius: 0.1875rem;
    display: inline-block;
    position: relative;
    width: 100%;
    margin-bottom: 30px;
    box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.2);
}

.itrade_main_content .card .card-header {
    background-color: transparent;
    border-bottom: 0;
    background-color: transparent;
    border-radius: 0;
    padding: 0;
}

.itrade_main_content .card[data-background-color="orange"] {
    background-color: #f96332;
}

.itrade_main_content .card[data-background-color="red"] {
    background-color: #FF3636;
}

.itrade_main_content .card[data-background-color="yellow"] {
    background-color: #FFB236;
}

.itrade_main_content .card[data-background-color="blue"] {
    background-color: #2CA8FF;
}

.itrade_main_content .card[data-background-color="green"] {
    background-color: #15b60d;
}

.itrade_main_content [data-background-color="orange"] {
    background-color: #e95e38;
}

.itrade_main_content [data-background-color="black"] {
    background-color: #2c2c2c;
}

.itrade_main_content [data-background-color]:not([data-background-color="gray"]) {
    color: #FFFFFF;
}

.itrade_main_content [data-background-color]:not([data-background-color="gray"]) p {
    color: #FFFFFF;
}

.itrade_main_content [data-background-color]:not([data-background-color="gray"]) a:not(.btn):not(.dropdown-item) {
    color: #FFFFFF;
}

.itrade_main_content [data-background-color]:not([data-background-color="gray"]) .nav-tabs>.nav-item>.nav-link i.now-ui-icons {
    color: #FFFFFF;
}


@font-face {
  font-family: 'Nucleo Outline';
  src: url("https://github.com/creativetimofficial/now-ui-kit/blob/master/assets/fonts/nucleo-outline.eot");
  src: url("https://github.com/creativetimofficial/now-ui-kit/blob/master/assets/fonts/nucleo-outline.eot") format("embedded-opentype");
  src: url("https://raw.githack.com/creativetimofficial/now-ui-kit/master/assets/fonts/nucleo-outline.woff2");
  font-weight: normal;
  font-style: normal;
        
}

.itrade_main_content .now-ui-icons {
  display: inline-block;
  font: normal normal normal 14px/1 'Nucleo Outline';
  font-size: inherit;
  speak: none;
  text-transform: none;
  /* Better Font Rendering */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}





@media screen and (max-width: 768px) {

    .itrade_main_content .nav-tabs {
        display: inline-block;
        width: 100%;
        padding-left: 100px;
        padding-right: 100px;
        text-align: center;
    }

    .itrade_main_content .nav-tabs .nav-item>.nav-link {
        margin-bottom: 5px;
    }
}









