.join_deal_main{
    width: 100%;
    height: auto;
    padding: 4rem 0rem;
    background-color: #ffffff;
    
}
.join_deal_main .top_flex{
    width: 100%;
    height: auto;
    display: flex;
    border-bottom: 1px dashed #cdcdcd;
}
.join_deal_main .top_flex .left{
    width: 90%;
}
.join_deal_main .top_flex .right{
    width: 10%;
}
.join_deal_main .top_flex .left h3{
     color: #ff6a00;
     font-size: 25px;
     font-weight: 500;
}
.join_deal_main .top_flex .left p{
    color: rgb(53, 52, 52);
    font-size: 17px;
    font-weight: 400;
}
.join_deal_main .top_flex .right p{
    color: rgb(47, 255, 28);
    font-size: 25px;
    font-weight: 500;
}
.join_deal_main .top_text{
    color: rgb(70, 68, 68);
    font-size: 17px;
    font-weight: 400;
}
.join_deal_main .top_text i{
    font-size: 25px !important;
    margin-right: .5rem;
}
.join_deal_main .jopin{
     color: #ff6a00;
     font-size: 25px;
     font-weight: 500;
}
.join_deal_main .right_form{
    width: 100%;
    height: auto;
    background-color: white;
    padding: 1rem;
    border-radius: 25px;
    box-shadow: 0px 4px 9px 0px #d3d4d6;
}
.join_deal_main .right_form input[type="text"],input[type="email"],input[type="number"],textarea{
    width: 100%;
    height: auto;
    padding: .5rem 1rem;
    border: 1px solid #cdcdcd;
    outline: none;
    margin-bottom: 1rem;
}
.join_deal_main .right_form button{
    width: 100%;
    height: auto;
    padding: .5rem;
    color: white;
    background-color: #00a9ea;
    border: none;
    outline: none;
    
}